.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.skill-row {
  display: flex;
  align-items: center;
  gap: 45px;
}

.skill-row i {
  font-size: 48px;
  color: var(--color-accent);
  width: 35px;
  text-align: center;
}

.skill-level {
  display: flex;
  gap: 5px;
}

.level-box {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-accent);
  border-radius: 3px;
}

.filled {
  background-color: var(--color-accent);
}